[submodule "personal/gtkappfolder"]
	path = personal/gtkappfolder
	url = https://github.com/akinevz2/gtkappfolder.git
	branch = main
[submodule "personal/pagerts"]
	path = personal/pagerts
	url = https://github.com/akinevz2/pagerts.git
	branch = main
[submodule "personal/website"]
	path = personal/website
	url = https://github.com/akinevz2/frontend.git
	branch = main
[submodule "personal/resume"]
	path = personal/resume
	url = https://github.com/akinevz2/resume.git
	branch = main
[submodule "personal/lightdni-jssas-toggle"]
	path = personal/lightdni-jssas-toggle
	url = https://github.com/akinevz2/lightdni-jssas-toggle.git
	branch = master
[submodule "personal/rarebert"]
	path = personal/rarebert
	url = https://github.com/akinevz2/rarebert.git
	branch = feat/tui-exit-handling
