
[submodule "personal/gtkappfolder"]
	path = personal/gtkappfolder
	url = https://github.com/akinevz2/gtkappfolder.git
	branch = main
[submodule "personal/pagerts"]
	path = personal/pagerts
	url = https://github.com/akinevz2/pagerts.git
	branch = main
[submodule "personal/website"]
	path = personal/website
	url = https://github.com/akinevz2/frontend.git
	branch = main
[submodule "personal/resume"]
	path = personal/resume
	url = https://github.com/akinevz2/resume.git
	branch = main
[submodule "uni/anlp"]
	path = uni/anlp
	url = https://github.com/akinevz2/rarebert-anlp.git
	branch = anlp
[submodule "uni/report-template"]
	path = uni/report-template
	url = https://github.com/akinevz2/report-template.git
	branch = template
[submodule "personal/lightdni-jssas-toggle"]
	path = personal/lightdni-jssas-toggle
	url = https://github.com/akinevz2/lightdni-jssas-toggle.git
	branch = master
[submodule "personal/rarebert"]
	path = personal/rarebert
	url = https://github.com/akinevz2/rarebert.git
	branch = feat/tui-exit-handling
[submodule "uni/loc-submission"]
	path = uni/loc-submission
	url = https://github.com/akinevz2/report-template.git
	branch = loc
